@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el selector de tiempo tipo iOS */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
